{% extends 'katalog/base.html' %}

{% block content %}
<div class="row mb-4">
    <div class="col">
        <h2 class="fw-bold">Katalog Produk</h2>
        <p class="text-muted">Temukan berbagai barang menarik di sini.</p>
    </div>
</div>

<div class="row">
    {% for p in daftar_buku %}
    <div class="col-md-3 mb-4">
        <div class="card h-100 shadow-sm border-0">
            src="{{ p.sampul.url }}"
                <img src="{{ p.gambar.url }}" class="card-img-top" style="height: 200px; object-fit: cover;">
            {% else %}
                <img src="https://via.placeholder.com/300x200" class="card-img-top">
            {% endif %}
            <div class="card-body text-center">
                <span class="badge bg-info-subtle text-info mb-2">{{ p.kategori.nama }}</span>
                <h5 class="card-title h6 fw-bold">{{ p.nama }}</h5>
                <p class="text-primary fw-bold">Rp {{ p.harga }}</p>
                <!-- Tombol Lihat Detail -->
                <a href="{% url 'detail_produk' p.id %}" class="btn btn-outline-dark btn-sm w-100">Lihat Detail</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-center">Belum ada produk.</p>
    {% endfor %}
</div>
{% endblock %}